<html lang="en">
<head>
  	<meta charset="utf-8"/>
  	<title>ShowWatchList</title>
  	<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  	<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  	<link rel="shortcut icon" href="/assets/img/favicon.png"/>
  	<link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  	<nav>
		<a href="/login"><img id="logo" src="/assets/img/favicon.png" alt="apple logo"/></a>
    	<div class="navlink">
			<a href="/logout">Log out</a>
			<a href="/showWatchlist">My Watchlist</a>
		</div>
  	</nav>
  	<section id="watchlist">
  	</section>
  	<section id="search">
  	</section>
  	{{!-- <section id="searchbar">
	  
  	</section> --}}
  	<div id="mainContentContainer">
  		<section id="shows">
  		</section>
	  	<span id="logger"></span>
	</div>
	<div id="showDetail"></div>
	<div id="eventAlertBox">
		<div id="eventAlertMessage">TESTING</div>
	</div>
 	<script src="/assets/bundle.js"></script>
</body>
</html>
